<template>
  <div class="text-xs-center">
    <!-- Do it right by yourself -->
    <v-card>
      <v-toolbar color="cyan" dark>
        <v-text-field
          v-if="search"
          prepend-icon="search"
          append-icon="mic"
          label="Search"
          solo-inverted
          class="mx-3"
          flat
        ></v-text-field>
        <v-btn icon><v-icon>fullscreen</v-icon></v-btn>
        <v-toolbar-tilte>Item Viewer</v-toolbar-tilte>
        <v-spacer></v-spacer>
        <v-btn icon @click="!search">
          <v-icon>search</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>more_vert</v-icon>
        </v-btn>
      </v-toolbar>
      <v-container>
        <v-layout row wrap>
          <v-flex v-for="(subject, i) of levelSubjects" xs3 :key="i">
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
    <!-- <v-card>
      <v-toolbar color="cyan" dark tabs>
      <v-btn icon><v-icon>fullscreen</v-icon></v-btn>
      <v-toolbar-title>Item Viewer</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>search</v-icon>
      </v-btn>
      <v-menu v-if="more.length" left bottom min-width="250px" max-height="400px">
        <a slot="activator">
          <v-btn icon>
            <v-icon>more_vert</v-icon>
          </v-btn>
        </a>
        <v-list class="grey lighten-3">
          <v-list-tile
            v-for="item in more"
            :key="item"
            @click="arrangeItem(item)"
          >
            {{ item }}
          </v-list-tile>
          </v-list>
        </v-menu>
      <v-tabs
        slot="extension"
        v-model="currentItem"
        color="transparent"
        slider-color="pink"
        grow
      >
        <v-tab
          v-for="item in items"
          :key="item"
          :href="'#tab-' + item"
        >
          {{ item }}
        </v-tab>
      </v-tabs>
    </v-toolbar>

    <v-tabs-items v-model="currentItem">
      <v-tab-item
        v-for="item in items.concat(more)"
        :key="item"
        :id="'tab-' + item"
      >
       <v-subheader> Radicals </v-subheader>
        <v-expansion-panel>
          <v-expansion-panel-content v-for="object in radicals[item]">
            <v-card flat slot="header">
              <v-layout row><img width="32px" height="32px" :src="object.image" style="margin-top: 10px"/><v-card-text class="title"> {{ object.slug }} </v-card-text></v-layout>
            </v-card>
            <v-card>
              <v-card-text> {{ object.meanings }}</v-card-text>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
        <v-subheader> Kanji </v-subheader>
        <v-layout row wrap>
          <v-flex xs4 sm3 md2 v-for="object in kanji[item]">
            <v-btn flat round> 
              <v-card-text class="title"> {{ object.slug }} </v-card-text>
            </v-btn> 
          </v-flex>
        </v-layout>
        <v-card flat>
          <v-card-text>
            <h2>{{ item }}</h2>
            {{ item }}
          </v-card-text>
        </v-card> 
      </v-tab-item>
    </v-tabs-items>
    </v-card> -->
  </div>
</template>

<script>
import subjects from './WanikaniSubjects.json'

export default {
  data () {
    return {
      search: false,
      selectedLevel: 1,
      item: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
    }
  },
  computed: {
    classData () {
      return this.$store.getters.getPageUserOverview(this.$route.params.id)
    },
    pageUser () {
      return this.$store.getters.userPageUser(this.$route.params.id)
    },
    assignments () {
      return this.$store.getters.userAssignments(this.pageUser.username)
    },
    levelSubjects () {
      if (this.selectedLevel && this.$store.state.subjects) {
        return this.$store.getters.getLevelSubjects(this.selectedLevel)
      } else {
        // return this.$store.getters.getLevelSubjects(30)
      }
    }
  },
  watch: {
    classData () {
      console.log(this.classData)
      this.selectedLevel = this.classData.level
    }
  },
  methods: {
    async arrangeItem (item) {
      const removed = this.items.splice(0, 3)
      this.items.push(
        ...this.more.splice(this.more.indexOf(item) - 1, 3)
        // ...this.more.splice((this.more.indexOf(item) - 1), 3)
      )
      this.more.push(...removed)
      this.more.sort((a, b) => a - b)
      this.$nextTick(() => { this.currentItem = 'tab-' + item })
    }
  },
  mounted () {
    if (!this.$store.state.subjects) {
      this.$store.dispatch('setSubjects', subjects)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
