<template>
  <v-container>
    <v-layout column>
      <v-card>
        <div style="border-bottom: grey 1px solid">
        <v-card-text class="headline">Feedback Page</v-card-text>
        <v-card-text >Thanks for checking out the Feedback and Updates page, Here you can check out the latest updates, view current issues or create your own with the Issue Tracker! I look forward to your feedback</v-card-text>
        </div>
        <v-expansion-panel expand>
        <v-expansion-panel-content>
        <div slot="header" class="title">Issue Tracker</div>
        <v-card>
          <v-card-title>
            Current Issues 
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
        <v-data-table
          :headers="headers"
          :items="issues.items"
          :search="search"
          :loading="issueTableLoading"
        >
          <template slot="items" slot-scope="props">
            <td>{{ props.item.title }}</td>
            <!-- <td class="text-xs-center">{{ props.item.link }}</td>
            <td class="text-xs-right">{{ props.item.pubDate }}</td> -->
          </template>
          <v-alert slot="no-results" :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
          </v-alert>
        </v-data-table>
        </v-card>
        <v-card-text>More information can be found on the gitlab repo</v-card-text>
        <v-container><v-btn block color="primary" round @click="router('/issues')">Issues Page</v-btn></v-container>
        <v-divider></v-divider>
        <v-card-text class="title">Submit an Issue</v-card-text>
        <v-card-text>If you find any issues with the site please raise the issue here!</v-card-text>
        <v-container>
        <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
        name="issueTitle"
        label="Title"
        :rules="titleRules"
        :counter="60"
        v-model="issueTitle"
        required
        ></v-text-field>
        <v-text-field
        name="issueBody"
        label="Description"
        v-model="issueBody"
        :rules="[v => !!v || 'Item is required']"
        multi-line
        required
        ></v-text-field>
        <v-select
        v-model="issueType"
        :items="issueTypes"
        :rules="[v => !!v || 'Item is required']"
        label="Issue Label (Type)"
        required
        ></v-select>
        <v-checkbox
        v-model="robotCheck"
        :rules="[v => !!v || 'Are you seriously a robot?!']"
        label="Are you not a robot?"
        required
        ></v-checkbox>
        <v-btn :disabled="!valid" @click.native.stop="sendIssue" round color="primary">Send</v-btn>
        </v-form>
        <v-alert v-model="thanksMessage" type="success" dismissible> Thanks for raising an issue! Look forward to updates in the future! </v-alert>
        </v-container>
        </v-expansion-panel-content>
        </v-expansion-panel>
        <v-divider></v-divider>
        <v-expansion-panel expand>
        <v-expansion-panel-content>
        <div slot="header" class="title">Recent Updates</div>
        <v-container>
        <vue-markdown class="changelog">
## Alpha 1.5.0
---
+ Tweak: (Large) Settings page design redone
+ Addition: Users can now upload their own images for their banner and avatars
+ Tweak: Back button added to settings page 
+ Fix: The review counter will now count correctly
+ Tweak: Per fix above the counter counts reviews now and after separatly

## Alpha 1.4.2_pass
---
+ Tweak: begin redesigning the settings page

## Alpha 1.4.1
---
+ Addition: Subscription (real time update) status is now visualized
+ Tweak: More overviewData update error visualization
+ Tweak: Feedback page condensed
+ Addition: Feedback page now has issues listed (and link to real page for details)

## Alpha 1.4.0
---
+ Addition: Feedback page
+ Addition: Basic Issue Tracker and sender
+ Fix: User Update no longer breaks if user does not have a bio, it fills it automatically
+ Tweak: Validation is a lot more understandable on the users settings page

## Alpha 1.3.3
---
+ Additon: The welcome screen will automatically redirect users that already have an account to their page
+ Tweak: Better Resizing for smaller screens on users page
+ Tweak: New users will automatically be added to the original class for now
+ Addition: Visual feedback when the overviewData should not be updated before 20 min

## Alpha 1.3.2_pass
---
+ Tweak: OverviewData for the user pages will be loaded even if the overview page has not been initialized (One time)

## Alpha 1.3.1_pass
---
+ Addition: dynamic listeners for classes on overview screen

## Alpha 1.3_pass
---
+ Fix: Proper calculation of progress bar for vocab in UserPage
+ Addition: Title now updates on where the user is in the application instead of being a static title
+ Change: Update Summary Button is now a small fab
+ Change: The button to access the user settings is much more visible (FAB)
+ Addition: If user visits their own page they have the option to complete their reviews and lessons by an accompanying button
+ Addition: Toggleable Live updates for overviewInfo
+ Addition: User can now update their overview from their user page (FAB)
+ Adittion: Rudimentary classes system added

</vue-markdown>
</v-container>
</v-expansion-panel-content>
</v-expansion-panel>
      </v-card>
    </v-layout>
  </v-container>
</template>
<script>
import VueMarkdown from 'vue-markdown'
import axios from 'axios'
import Parser from 'rss-parser'
let parser = new Parser()

export default {
  data () {
    return {
      issueTitle: '',
      issueBody: '',
      issueType: '',
      issueTypes: ['General', 'Bugs', 'Enhancements', 'Features', 'Requests'],
      issues: {},
      // Validation
      valid: true,
      robotCheck: false,
      titleRules: [
        v => !!v || 'Title is required',
        v => (v && v.length <= 60) || 'Name must be less than 60 characters',
        v => (v && v.length >= 4) || 'Name must be more than 4 characters'
      ],
      // Other
      thanksMessage: false,
      // Issues Table
      issueTableLoading: true,
      search: '',
      headers: [
        {
          text: 'Issue',
          align: 'left',
          value: 'title'
        }
        // { text: 'Link', value: 'link', sortable: false },
        // { text: 'Date', value: 'date' }
      ]
    }
  },
  components: {
    VueMarkdown
  },
  methods: {
    router (route, refresh) {
      this.$router.push(route)
      if (refresh) { window.location.reload(true) }
    },
    sendIssue () {
      if (this.$refs.form.validate()) {
        let data = {
          issueTitle: this.issueTitle,
          issueBody: this.issueBody,
          issueType: this.issueType
        }
        var instance = axios.create()
        instance.defaults.headers.common = {}
        instance.get('https://hooks.zapier.com/hooks/catch/2333145/ajl8su/?data=' + JSON.stringify(data) + '', {
          headers: {'Content-Type': 'application/json'}
        }).then(() => {
          // Clear the form
          this.$refs.form.reset()
          this.thanksMessage = true
        })
      }
    }
  },
  mounted () {
    const CORS_PROXY = 'https://cors-anywhere.herokuapp.com/'

    parser.parseURL(CORS_PROXY + 'https://gitlab.com/Yoroshi/wkclass/issues.atom?feed_token=ixzVxTJqgwfircuxDAF4&state=opened', (err, feed) => {
      if (err) { console.log(err) }
      this.issues = feed
      this.issueTableLoading = false
    })
  }
}
</script>

<style>
 .changelog li {
     margin-left: 1rem;
 }
 .changelog h2 {
     margin-top: 0.5rem;
     font-size: 1.35rem;
     font-weight: 500;
 }
 .changelog hr {
     margin-bottom: 0.5rem;
     border-top-color: grey;
 }
 .title {
   font-weight: 500;
   font-size: 1.3rem;
 }
</style>