<template>
  <v-container>
    <v-layout column>
      <v-card>
        <v-card-text class="title">Under Construction</v-card-text>
        <v-card-text>This area isnt finished quite yet, come back later to check it out</v-card-text>
      </v-card>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>