<template>
  <v-layout row>
    <v-flex xs12 sm12>
      <v-expansion-panel popout>
        <v-expansion-panel-content>
      <v-layout align-center row spacer wrap slot="header">
        <v-flex xs2 sm2 md1>
          <v-avatar
            size="36px"
            slot="activator"
          >
          <img :src="user.photo">
          </v-avatar>
        </v-flex>
        <v-flex xs10 sm10 md2>
          <span class="grey--text">&nbsp;{{user.level}}</span>
          <strong v-html="user.username"></strong>
        </v-flex>
        <v-flex xs12 sm6 md3 class="pl-1">
          <div>
            <strong>Radicals: </strong><span class="grey--text">&nbsp;{{ user.overviewInfo.radicalPassed }} / </span><span class="subheading">&nbsp;{{ user.overviewInfo.radicalCount }}</span>
          </div>
            <v-progress-linear :value="progressCalc(user.overviewInfo.radicalPassed, user.overviewInfo.radicalCount)" height="5" color="info"></v-progress-linear>
          </v-flex>
        <v-flex xs12 sm6 md3 class="pl-1">
        <div>
          <strong>Kanji: </strong><span class="grey--text">&nbsp;{{ user.overviewInfo.kanjiPassed }} / </span><span class="subheading">&nbsp;{{ user.overviewInfo.kanjiCount }}</span>
        </div>
          <v-progress-linear :value="progressCalc(user.overviewInfo.kanjiPassed, user.overviewInfo.kanjiCount)" height="5" color="pink" background-color="pink lighten-3"></v-progress-linear>
        </v-flex>
        <v-flex xs12 sm12 md3 class="pl-1">
        <div>
          <strong>Vocabulary: </strong><span class="grey--text">&nbsp;{{ user.overviewInfo.vocabPassed }} / </span><span class="subheading">&nbsp;{{ user.overviewInfo.vocabCount }}</span>
        </div>
          <v-progress-linear :value="progressCalc(user.overviewInfo.vocabPassed, user.overviewInfo.vocabCount)" height="5" color="purple" background-color="purple lighten-3"></v-progress-linear>
        </v-flex>
        </v-layout>
        <v-card>
          <v-divider></v-divider>
          <v-flex>
          <!-- <canvas :id="user.user.username + 'Chart'" height="400" width="400">{{createChart(0, user.user.username)}}</canvas>-->
          </v-flex>
            <v-card-actions>
                <v-card-text>Last Updated: {{momentFormat(user.timestamp, 0)}}</v-card-text>
                <v-spacer></v-spacer>
                <v-btn icon @click.native="router('/user/' + user.username);">
                  <v-icon>account_circle</v-icon>
                </v-btn>
                <v-btn icon @click.native="fetchBasicAPI(user.ref)">
                  <v-icon>autorenew</v-icon>
                </v-btn>
            </v-card-actions>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-flex>
    <v-snackbar
      :timeout="timeout"
      color="error"
      bottom
      :multi-line="$vuetify.breakpoint.xsOnly"
      v-model="snackbar"
    >
      {{ snackBarText }}
      <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script>
import moment from 'moment'
import { wkapi, axiosAll, axiosSpread } from './axios.js'
import { fs, functions } from './Firebase.vue'
// import md5 from 'blueimp-md5'
export default {
  data () {
    return {
      overviewUsers: [],
      // Snackbar
      snackBarText: 'You need to wait 20 minuites before you can update this data',
      snackbar: false,
      timeout: 5000
    }
  },
  props: ['user'],
  methods: {
    /* test () {
      const userDataUpdater = functions.httpsCallable('userDataUpdater')
      userDataUpdater().then()
    }, */
    router (route, refresh) {
      this.$router.push(route)
      if (refresh) { window.location.reload(true) }
    },
    momentFormat (ISOString, type) {
      if (type === 0) {
        const date = moment(ISOString)
        const time = date.fromNow()
        return time
      }
    },
    getLevelNumbers (level) {
      const itemCount = [ [0, 0, 0], // Level 0
        [26, 18, 42], [34, 38, 89], [22, 33, 72], [33, 38, 105], [27, 42, 126], // Levels 1-5
        [20, 40, 118], [17, 33, 101], [15, 32, 136], [16, 35, 119], [15, 35, 117], // Levels 6-10
        [14, 38, 127], [11, 37, 129], [16, 37, 115], [6, 32, 116], [7, 33, 100], // Levels 11-15
        [6, 35, 118], [7, 33, 124], [8, 29, 135], [9, 34, 106], [6, 32, 114], // Levels 16-20
        [7, 32, 108], [6, 31, 116], [7, 31, 99], [7, 31, 121], [8, 33, 101], // Levels 21-25
        [3, 33, 125], [8, 32, 107], [5, 34, 118], [8, 33, 108], [6, 31, 103], // Levels 26-30
        [7, 36, 113], [7, 33, 112], [5, 32, 103], [5, 34, 125], [4, 32, 101], // Levels 31-35
        [7, 33, 98], [4, 32, 113], [6, 32, 101], [8, 34, 101], [3, 32, 116], // Levels 36-40
        [4, 30, 109], [5, 33, 98], [5, 35, 110], [5, 34, 106], [3, 35, 98], // Levels 41-45
        [2, 37, 104], [3, 36, 94], [3, 37, 105], [2, 33, 104], [3, 35, 88], // Levels 46-50
        [1, 35, 77], [0, 35, 98], [2, 35, 104], [0, 35, 115], [0, 35, 76], // Levels 51-55
        [0, 35, 88], [2, 35, 93], [0, 35, 81], [1, 35, 79], [1, 32, 65] // Levels 56-60
      ]
      return {radical: itemCount[level][0], kanji: itemCount[level][1], vocab: itemCount[level][2]}
    },
    progressCalc (passed, max) {
      if (passed !== 0) {
        return (passed / max * 100)
      } else {
        return 0
      }
    },
    updateProgressBar (data) {
      this.$store.dispatch('updateProgressBar', data)
    },
    fetchBasicAPI (ref) {
      //  Dont do any of this if the last time its updated is less than 20 min ago
      //  Or user is not subscribed
      let prevTimestamp
      let canUpdate
      let username
      fs.collection('profiles').where('ref', '==', ref).get().then(snapshot => {
        snapshot.forEach(doc => {
          const apiKey = doc.data().apiKey
          const classes = doc.data().classes
          fs.collection('profiles').doc(doc.id).collection('basic').orderBy('timestamp', 'desc').limit(1).get().then(snapshot => {
            if (snapshot.empty) {
              canUpdate = true
            } else {
              snapshot.forEach(doc => {
                prevTimestamp = doc.data().timestamp
                username = doc.data().username
                this.updateProgressBar({active: true, Value: 0, updatingText: 'Updating Overview Information', progressText: 'Initializing'})
                if (prevTimestamp != null) {
                  canUpdate = moment(prevTimestamp).isBefore(moment().subtract(20, 'm'))
                } else {
                  canUpdate = true
                }
              })
            }
            // console.log(prevTimestamp, canUpdate)
            if (!canUpdate || !this.$store.state.subscriber) { this.snackbar = true; if (!this.$store.state.subscriber) { this.snackBarText = 'The subscriber is offline, Please enable it or refresh to fix this!' } else { this.snackBarText = 'You need to wait 20 minuites before you can update this data' }; this.updateProgressBar({active: false}) } else {
              //  Open the bottom-sheet for progress
              this.updateProgressBar({Value: 20, progressText: 'Sending API Calls'})
              const instance = wkapi(apiKey)
              let basicInfoArray = []
              let level
              instance.get('/user').then(response => {
                this.updateProgressBar({Value: 30, progressText: 'Getting User Data'})
                basicInfoArray.push(moment().toISOString())
                basicInfoArray.push(response.data.data.level)
                level = response.data.data.level
                //  Annoying syncing
                // let subjects
                let assignments

                // function getSubjects () {
                // return instance.get('/subjects?levels=' + level).then(response => { progressBar.methods.progress(true, 'Updating ' + username + '\'s Basic Information', 'Getting Basic Radicals', 40); subjects = response.data.data })
                // }
                let getAssignment = () => {
                  return instance.get('/assignments?levels=' + level).then(response => { this.updateProgressBar({Value: 70, progressText: 'Getting Assignments'}); assignments = response.data.data })
                }
                axiosAll([getAssignment()]).then(axiosSpread(() => {
                // let rawBasicInfoArray
                // rawBasicInfoArray.push(subjects)
                // rawBasicInfoArray.push(assignments)
                  const overviewProgressInfo = this.overviewProgressNumbers(assignments, level)
                  basicInfoArray.push(overviewProgressInfo)
                  console.log(basicInfoArray)
                  this.setBasicAPI(basicInfoArray, ref, username, doc.id, classes)
                  // const formatedObject = { timestamp: basicInfoArray[0], level: basicInfoArray[1], overviewInfo: basicInfoArray[2], username: username, ref: ref, docRef: doc.id }
                  const OverviewDeleteOF = functions.httpsCallable('OverviewDeleteOF')
                  OverviewDeleteOF({docRef: doc.id}).then()
                }))
              })
            }
          })
        })
      })
    },
    setBasicAPI (data, ref, username, documentRef, classes) {
      this.updateProgressBar({Value: 100, progressText: 'Finishing Up'})
      // const formatedObject = { timestamp: data[0], level: data[1], username: data[2], overviewInfo: data[3] }
      const formatedObject = { timestamp: data[0], level: data[1], overviewInfo: data[2] }
      // fs.collection('profiles').child('basic').child(username).doc(formatedObject)
      fs.collection('profiles').doc(documentRef).collection('basic').doc().set(formatedObject).then(() => {
        this.updateProgressBar({active: false, Value: 0, updatingText: 'Completed Task', progressText: 'Done'})
        let classUpdateData = {}
        let classroomData
        classroomData = Object.values(this.$store.state.classes)
        let usersClassRecord
        for (let classroom of classroomData) { usersClassRecord = Object.values(classroom).find(user => user.ref === ref) }
        console.log(usersClassRecord)
        classUpdateData[ref] = { ...usersClassRecord, ...formatedObject }
        console.log(classes)
        /// this.$store.dispatch('updateClass', formatedObject)
        for (let classroom of classes) {
          fs.collection('classrooms').doc(classroom).update(classUpdateData)
        }
      })
      //  console.log(data)
    },
    overviewProgressNumbers (assignments, level) {
      let kanjiPassCount = 0
      let radicalPassCount = 0
      let vocabPassCount = 0
      for (let assignment of assignments) {
        //  for (let assignmentL2 of assignment.data) {
        if (assignment.data.subject_type === 'kanji' && assignment.data.passed === true) {
          kanjiPassCount += 1
        }
        if (assignment.data.subject_type === 'radical' && assignment.data.passed === true) {
          radicalPassCount += 1
        }
        if (assignment.data.subject_type === 'vocabulary' && assignment.data.passed === true) {
          vocabPassCount += 1
        }
      //  }
      }
      const levelNumbers = this.getLevelNumbers(level)
      const progressNumbers = { radicalPassed: radicalPassCount, kanjiPassed: kanjiPassCount, vocabPassed: vocabPassCount, radicalCount: levelNumbers.radical, kanjiCount: levelNumbers.kanji, vocabCount: levelNumbers.vocab }
      return progressNumbers
    }
  },
  created () {
  }
}
</script>