<template>
  <v-container fluid>
      <v-layout wrap align-center>
        <div v-visibility-change="visibilityChange"></div>
        <v-layout column>
          <v-alert type="info" :value="true" class="mb-3">
          This version is currently in active development. Bugs are real
          </v-alert>
          <v-container>
          <v-layout row wrap>
          <v-flex lg8 md8 sm12 xs12>
            <v-subheader>Class</v-subheader>
            <v-select v-if="avaliableClasses" :items="avaliableClasses" v-model="selectedClass" label="ClassSelect" single-line auto prepend-icon="map" v-on:change="classSelected($event)"></v-select>
          </v-flex>
          <v-flex lg4 md4 sm12 xs12 text-xs-center>
          <v-subheader>User Sorting</v-subheader>
          <v-select :items="sortingTypes" v-model="sorter" label="Sort" single-line auto prepend-icon="swap_vert" v-on:change="updateSorting"></v-select>
          </v-flex>
          </v-layout>
          </v-container>
          <v-layout row wrap>
          <v-flex v-if="loading" lg10 md12 sm12 xs12 offset-lg1 v-for="user in sortedUsers" :key="user.key">
          <overview-user :user="user"></overview-user>
          </v-flex>
          <v-flex v-else>
            <v-card>
              <v-container>
              <v-layout row wrap text-xs-center>
              <v-progress-circular :size="70" :width="6" style="margin: 0 auto;" indeterminate color="primary"></v-progress-circular>
              </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          </v-layout>
          </v-layout>
      </v-layout>
    <progress-bar></progress-bar>
    <v-tooltip v-if="!$vuetify.breakpoint.xsOnly" top>
    <v-btn slot="activator" fixed dark fab :color="subWatchColor" bottom right style="margin-bottom: 1.75rem; transition: all 0.375s cubic-bezier(0.4, 0.0, 0.2, 1);" @click="switchSubscriber"><v-icon dark>update</v-icon></v-btn><span> Real time update switch </span>
    </v-tooltip>
    <v-btn v-else fixed round dark :color="subWatchColor" bottom right style="margin-bottom: 1.75rem; transition: all 0.375s cubic-bezier(0.4, 0.0, 0.2, 1); z-index: 30" @click="switchSubscriber"> {{ switchSubscriberText }} <v-icon dark>update</v-icon></v-btn>
  </v-container>
</template>

<script>
import OverviewUser from './OverviewUser.vue'
import progressBar from './ProgressBar.vue'

export default {
  data () {
    return {
      users: null,
      sorter: 'Level',
      sortedUsers: {},
      sortingTypes: [
        'Level', 'Level (Reverse)', 'Name', 'Name (Reverse)', 'Latest Updated', 'Latest Updated (Reverse)'
      ],
      selectedClass: 'default'
    }
  },
  components: {
    OverviewUser, progressBar
  },
  computed: {
    overviewUsers () {
      return this.$store.state.OverviewData
    },
    userDataReady () {
      return this.$store.state.loggedUser.loggedIn
    },
    classOverviewUsers () {
      if (!this.$store.state.loggedUser.loggedIn) {
        return ''
      } else {
        return this.$store.getters.getClassOverviewData(this.selectedClass)
      }
    },
    loading () {
      if (this.classOverviewUsers === '' || this.classOverviewUsers.loading === true) {
        return false
      } else {
        return true
      }
    },
    avaliableClasses () {
      return this.$store.state.loggedUser.classes
    },
    subWatchColor () {
      if (this.$store.state.subscriber) {
        return 'teal lighten-1'
      } else {
        return 'pink darken-1'
      }
    },
    switchSubscriberText () {
      if (this.$store.state.subscriber) {
        return 'Realtime '
      } else {
        return 'Offline '
      }
    }
  },
  methods: {
    updateSorting (sorting) {
      if (sorting === 'get') { sorting = this.sorter }
      const toSort = Object.values(this.classOverviewUsers)
      let sorted
      if (sorting === 'Name') {
        sorted = toSort.sort((a, b) => {
          const nameA = a.username.toLowerCase()
          const nameB = b.username.toLowerCase()
          if (nameA < nameB) return -1
          if (nameA > nameB) return 1
          return 0
        })
      }
      if (sorting === 'Name (Reverse)') {
        sorted = toSort.sort((a, b) => {
          const nameA = a.username.toLowerCase()
          const nameB = b.username.toLowerCase()
          if (nameA > nameB) return -1
          if (nameA < nameB) return 1
          return 0
        })
      }
      if (sorting === 'Level') {
        sorted = toSort.sort((a, b) => {
          return a.level - b.level
        })
      }
      if (sorting === 'Level (Reverse)') {
        sorted = toSort.sort((a, b) => {
          return a.level - b.level
        })
        sorted.reverse()
      }
      if (sorting === 'Latest Updated') {
        sorted = toSort.sort((a, b) => {
          if (a.timestamp > b.timestamp) return -1
          if (a.timestamp < b.timestamp) return 1
          return 0
        })
      }
      if (sorting === 'Latest Updated (Reverse)') {
        sorted = toSort.sort((a, b) => {
          if (a.timestamp < b.timestamp) return -1
          if (a.timestamp > b.timestamp) return 1
          return 0
        })
      }
      this.sortedUsers = sorted
    },
    visibilityChange (event, hidden) {
      // Call the function from the store
      if (this.userDataReady) {
        const data = [this.selectedClass, hidden, false]
        console.log(data)
        this.$store.dispatch('watchClassData', data)
      }
    },
    classSelected (selectedClass) {
      // if (selectedClass === 'get') { selectedClass === this.selectedClass }
      // Check if that classes data has been loaded into memory
      if (selectedClass !== this.selectedClass) {
        this.$store.dispatch('watchClassData', [selectedClass, false, true])
      }
    },
    switchSubscriber () {
      if (this.$store.state.subscriber) {
        this.$store.dispatch('watchClassData', [this.selectedClass, true, false])
      } else {
        this.$store.dispatch('watchClassData', [this.selectedClass, false, false])
      }
    }
  },
  watch: {
    overviewUsers: function () {
      this.updateSorting('get')
    },
    classOverviewUsers: function () {
      this.updateSorting('get')
    },
    userDataReady: function () {
      if (this.userDataReady) {
        this.$store.dispatch('watchClassData', [this.$store.state.loggedUser.classes[0], false, false])
      }
    },
    avaliableClasses: function () {
      if (this.avaliableClasses) {
        this.selectedClass = this.avaliableClasses[0]
      }
    }
  },
  mounted () {
    this.updateSorting('get')

    if (this.$store.state.loggedUser.loggedIn && this.$store.state.subscriber === null) { this.$store.dispatch('watchClassData', [this.$store.state.loggedUser.classes[0], false, false]) }

    if (this.avaliableClasses) { this.selectedClass = this.avaliableClasses[0] }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
