<template>
  <div class="text-xs-center">
    <v-bottom-sheet v-model="progressBar.active" persistent inset>
      <v-card tile>
        <v-progress-linear height="3" :value='progressBar.Value' class="my-0"></v-progress-linear>
        <v-list>
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title> {{ progressBar.updatingText }} </v-list-tile-title>
              <v-list-tile-sub-title> {{ progressBar.progressText }} </v-list-tile-sub-title>
            </v-list-tile-content>
            <v-spacer></v-spacer>
            <v-list-tile-action>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-card>
    </v-bottom-sheet>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  computed: {
    progressBar () {
      return this.$store.state.progressBar
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
