<template>
  <v-container class="pa-0 mb-2" fluid>
      <v-layout v-if="editCheck" row wrap align-center>
        <v-card v-if="pageUserID.ref">
          <v-card-text>Looks Like its your first time here. Lets Initiate your data, should only take a few seconds</v-card-text>
          <v-btn block @click.native.stop="refreshUserSettings"> Click Here To Do That </v-btn>
        </v-card>
        <v-card v-else-if="!pageUserID.uid">
          <v-layout row wrap>
              Loading...
          </v-layout>
        </v-card>
        <v-container v-else>
          <v-card>
            <v-form ref="form">
              <v-btn @click="router('/user/' + pageUserID.username)" round color="primary" class="mt-3"><v-icon class="pr-1">arrow_back</v-icon> Return to user page </v-btn>
              <v-card-text class="headline">User Settings</v-card-text>
              <v-layout row wrap>
              <v-flex xs12 sm4>
                <v-card-text class="title">Public Avatar</v-card-text>
                <v-card-text>This is your avatar, Upload a custom one or remove completely to default to gravatar.com</v-card-text>
              </v-flex>
              <v-flex xs12 sm8>
                <v-layout row wrap>
                  <v-flex xs12 sm4 text-xs-center>
                    <img v-if="avatarImageRef" :src="avatarImageRef" style="width: 95%; max-width: 192px; border-radius: 100%"/>
                    <img v-else :src="generateGravatarIcon" style="width: 95%; max-width: 192px; border-radius: 100%"/>
                  </v-flex>
                  <v-flex xs12 sm8 class="pl-1 pr-1">
                    <v-container>
                      <v-card-text class="body-2 pl-0 pt-0">Avatar Upload</v-card-text>
                      <input type="file" ref="avatarImageUploadBtn" style="display: none;" @change="selectedAvatarUploadFile = $event.target.files[0]"/>
                      <v-btn v-if="!selectedAvatarUploadFile" :block="$vuetify.breakpoint.xsOnly" @click="$refs.avatarImageUploadBtn.click();"> Choose File... </v-btn>
                      <v-layout v-else row wrap><v-flex xs12 sm4><v-btn color="primary" :block="$vuetify.breakpoint.xsOnly" @click="uploadAvatarImage"> Upload </v-btn></v-flex><v-flex xs12 sm8><v-card-text><v-icon>image</v-icon> {{ selectedAvatarUploadFile.name }}</v-card-text></v-flex><v-flex><v-btn :block="$vuetify.breakpoint.xsOnly" @click="selectedAvatarUploadFile = null" color="error"> Clear </v-btn></v-flex></v-layout>
                      <v-alert v-model="avatarImageAlert" type="success" dismissible>Sucessfully uploaded and updated your avatar!</v-alert>
                      <v-alert v-model="avatarImageError" type="error" dismissible>The file that you uploaded is above the maximum file size or is an unsuported file type</v-alert>
                      <v-card-text class="caption pl-0">The maximum file size is 200KB | Optimal size is 256px wide by 256px high | Only JPEG and PNG files are supported</v-card-text>
                      <v-divider v-if="!$vuetify.breakpoint.xsOnly && avatarImageRef"></v-divider>
                      <v-btn v-if="avatarImageRef" :block="$vuetify.breakpoint.xsOnly" @click="deleteAvatarImage" color="error">Remove avatar</v-btn>
                    </v-container>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
            <v-layout row wrap>
              <v-flex v-if="bannerImageRef" xs12 text-xs-center><v-container><v-parallax height="152" :src="bannerImageRef"></v-parallax></v-container></v-flex>
              <v-flex xs12 sm4>
                <v-card-text class="title">Banner Image</v-card-text>
                <v-card-text>Your banner image will be displayed on your profile page.</v-card-text>
              </v-flex>
              <v-flex xs12 sm8>
                <v-container>
                  <v-card-text class="body-2 pl-0 pt-0">Banner image upload</v-card-text>
                  <input type="file" ref="bannerImageUploadBtn" style="display: none;" @change="selectedBannerUploadFile = $event.target.files[0]"/>
                  <v-btn v-if="!selectedBannerUploadFile" :block="$vuetify.breakpoint.xsOnly" @click="$refs.bannerImageUploadBtn.click();"> Choose File... </v-btn>
                  <v-layout v-else row wrap><v-flex xs12 sm4><v-btn color="primary" :block="$vuetify.breakpoint.xsOnly" @click="uploadBannerImage"> Upload </v-btn></v-flex><v-flex xs12 sm8><v-card-text><v-icon>image</v-icon> {{ selectedBannerUploadFile.name }}</v-card-text></v-flex><v-flex><v-btn :block="$vuetify.breakpoint.xsOnly" @click="selectedBannerUploadFile = null" color="error"> Clear </v-btn></v-flex></v-layout>
                  <v-alert v-model="bannerImageAlert" type="success" dismissible>Sucessfully uploaded and updated your banner!</v-alert>
                  <v-alert v-model="bannerImageError" type="error" dismissible>The file that you uploaded is above the maximum file size or is an unsuported file type</v-alert>
                  <v-card-text class="caption pl-0">The maximum file size is 500KB | Optimal size is 1500px wide by 375px high | Only JPEG and PNG files are supported</v-card-text>
                  <v-divider v-if="!$vuetify.breakpoint.xsOnly && bannerImageRef"></v-divider>
                  <v-btn v-if="bannerImageRef" :block="$vuetify.breakpoint.xsOnly" @click="deleteBannerImage" color="error">Remove banner image</v-btn>
                </v-container>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
            <v-layout row wrap>
              <v-flex xs12 sm4>
                <v-card-text class="title">General Settings</v-card-text>
                <v-card-text>Settings that make your account yours</v-card-text>
              </v-flex>
              <v-flex xs12 sm8>
                <v-container>
                  <v-text-field prepend-icon="person" name="username" label="Username" type="text"
                    v-model="pageUserID.username"
                    :rules="nameRules"
                    :counter="30"
                    required></v-text-field>
                  <v-text-field
                    label="Bio"
                    prepend-icon="edit"
                    name="bio"
                    id="bio"
                    multi-line
                    :counter="2000"
                    :rules="bioRules"
                    v-model="pageUserID.bio"></v-text-field>
                  <v-text-field
                    label="E-mail (for your gravatar)"
                    prepend-icon="email"
                    name="email"
                    id="email"
                    v-model="pageUserID.email"
                    :rules="emailRules"
                    required></v-text-field>
                  <v-select prepend-icon="map" name="classes" label="Classes" id="classes" 
                    v-model="pageUserID.classes"
                    :items="classes"
                    tags
                    chips
                    disable
                    readonly></v-select>
                  <v-checkbox
                    v-model="pageUserID.isPublic"
                    label="Profile is Public (Visible On Overview)"
                  ></v-checkbox>
                </v-container>
              </v-flex>
            </v-layout>
            <v-divider></v-divider>
            <v-layout row wrap>
              <v-flex xs12 sm4>
                <v-card-text class="title">API Settings</v-card-text>
                <v-card-text>These settings are for adjusting the api settings and features</v-card-text>
              </v-flex>
              <v-flex xs12 sm8>
                <v-container>
                  <v-text-field prepend-icon="lock" name="apiKey" label="API Key (V2)" id="apiKey" type="text"
                    v-model="pageUserID.apiKey"
                    v-on:input="validapi = false; accountCreatorValidAPIT = false;"
                    :rules="apiRules"
                    required>
                  </v-text-field>
                </v-container>
              </v-flex>
            </v-layout>
            </v-form>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="info" @click.stop="testAPI">Test API</v-btn>
              <v-btn v-if="!validapi" disabled color="primary">Update</v-btn>
              <v-btn v-else :disabled="!valid" color="primary" @click.stop="updateUserData">Update</v-btn>
            </v-card-actions>
            <v-alert type="info" :value="validapi" class="mb-1 mt-1">
              API Key is valid
            </v-alert>
            <v-alert type="info" :value="updatedDataNoti" class="mb-1 mt-1">
              Data Updated sucessfully!
            </v-alert>
          </v-card>
        </v-container>
      </v-layout>
      <!-- <v-container fluid v-if="pageUserID.uid || pageUserID.ref">
        <v-card>
          <v-container>
          <v-layout row wrap>
          <v-flex xs12 sm4 text-xs-center><img style="width: 95%; max-width: 256px; border-radius: 100%" :src="pageUserID.photo"/></v-flex>
          <v-flex xs12 sm8>
            <v-layout column>
              <v-card-text class="display-1">{{ pageUserID.username + ' ' + level }}</v-card-text>
              <v-card-text> The User page is under development for now, get prepared for more stuff to appear here in the future! </v-card-text>
            </v-layout>
          </v-flex>
          <v-flex xs12 sm6>
            <v-card color="blue-grey lighten-3"></v-card>
          </v-flex>
          <v-flex xs12 sm6>
          </v-flex>
          </v-layout>
          </v-container>
        </v-card>
      </v-container> -->
        <v-container class="pa-0" :fluid="!$vuetify.breakpoint.xsOnly" v-else-if="pageUser.uid">
          <v-parallax height="325" v-if="pageUser.bannerPhoto" :src="pageUser.bannerPhoto">
          <v-btn v-if="editmodeAvailableCheck" fab dark absolute top right color="blue" style="margin-top: 3rem" @click.native.stop="router('/user/' + pageUser.uid)"><v-icon>settings</v-icon></v-btn>
            <v-layout row align-center justify-center wrap>
              <template v-if="editmodeAvailableCheck && !$vuetify.breakpoint.xsOnly">
              </template>
              <v-flex v-if="$vuetify.breakpoint.xsOnly" xs12 text-xs-center><img style="width: 95%; max-width: 256px; border-radius: 100%;background-color: white;" class="pa-1" :src="pageUser.photo"/></v-flex>
            </v-layout>
          </v-parallax>
          <v-parallax height="325" v-else src="https://vuetifyjs.com/static/doc-images/parallax/material2.jpg">
            <v-layout row align-center justify-center wrap>
              <template v-if="editmodeAvailableCheck && !$vuetify.breakpoint.xsOnly">
              <v-flex xs11></v-flex>
              <v-spacer></v-spacer>
              <v-flex xs1>
              <v-btn icon @click.native.stop="router('/user/' + pageUser.uid)" style="margin-top:-16rem;"><v-icon x-large color="white">settings</v-icon></v-btn>
              </v-flex>
              </template>
              <v-flex v-if="$vuetify.breakpoint.xsOnly" xs12 text-xs-center><img style="width: 95%; max-width: 256px; border-radius: 100%;background-color: white;" class="pa-1" :src="pageUser.photo"/></v-flex>
            </v-layout>
          </v-parallax>
        <v-layout :style="{ margin: userCardMargin }" row wrap>
          <v-flex xs12 sm8 offset-sm2>
          <v-card raised>
          <v-layout row wrap>
          <v-flex xs12>
          <v-card>
          <v-layout row wrap justify-center align-content-center fill-height>
          <v-flex xs12 text-xs-center><v-card-text class="display-1" style="">{{ pageUser.username }}</v-card-text></v-flex>
          <v-flex xs12 order-xs2 sm4 text-xs-center v-if="!$vuetify.breakpoint.xsOnly"><div v-if="overviewData" style="height: 3em; width: 3em; margin-bottom: -20%; margin-left: 75%; background-color: orange; border-radius: 100%; border: 2px solid orange; display: flex; align-items: center; font-size: 18px;"><v-card-text class="pa-0"> {{ overviewData.level }} </v-card-text></div><img style="width: 95%; max-width: 256px; border-radius: 100%;" class="pa-2" :src="pageUser.photo"/></v-flex>
          <v-flex xs6 sm4 order-xs1 text-xs-center style="align-items: center; display: flex"><v-layout column style="transform: scale(0.8)"><v-card-text class="headline pb-0">Reviews</v-card-text><v-tooltip bottom><v-card-text slot="activator" class="display-2 pt-0">{{ pageUser.summary.reviewsNow }}</v-card-text><span> {{ pageUser.summary.reviewsLater }} Reviews in the next 24 hours </span></v-tooltip><v-card flat>
            <v-btn v-if="editmodeAvailableCheck && !$vuetify.breakpoint.xsOnly" absolute fab bottom left color="blue" dark @click.stop="router('/reviews')"><v-icon>open_in_new</v-icon></v-btn>
            <v-btn v-else-if="editmodeAvailableCheck && $vuetify.breakpoint.xsOnly" style="padding: 0px 0px 2px 0px" round color="blue" dark @click.stop="router('/reviews')"><v-card-text style="padding: 8px 2px 8px 2px">Open Reviews </v-card-text><v-icon>open_in_new</v-icon></v-btn>
          </v-card></v-layout></v-flex>
          <v-flex xs6 sm4 order-xs3 text-xs-center style="align-items: center; display: flex"><v-layout column style="transform: scale(0.8)"><v-card-text class="headline pb-0">Lessons</v-card-text><v-card-text class="display-2 pt-0">{{ pageUser.summary.lessons }}</v-card-text><v-card flat>
            <v-btn v-if="editmodeAvailableCheck && !$vuetify.breakpoint.xsOnly" absolute fab bottom left color="blue" dark @click.stop="router('/lessons')"><v-icon>open_in_new</v-icon></v-btn>
            <v-btn v-else-if="editmodeAvailableCheck && $vuetify.breakpoint.xsOnly" style="padding: 0px 0px 2px 0px" round color="blue" dark @click.stop="router('/lessons')"><v-card-text style="padding: 8px 2px 8px 2px" >Open Lessons </v-card-text><v-icon>open_in_new</v-icon></v-btn>
          </v-card></v-layout></v-flex>
          </v-layout>
          <v-card-actions v-if="editmodeAvailableCheck"><v-spacer></v-spacer><v-btn small dark color="blue" absolute bottom right fab @click.native.stop="updateSummary"><v-icon>cached</v-icon></v-btn></v-card-actions>
          </v-card>
          </v-flex>
          <v-flex xs12 sm12>
            <v-layout column>
              <v-card-text v-if="!pageUser.bio"> Hello I'm {{ pageUser.username }} </v-card-text>
              <v-card-text v-else>{{ pageUser.bio }}</v-card-text>
            </v-layout>
          </v-flex>
          </v-layout>
          </v-card>
          </v-flex>
          <v-flex xs12 sm8 offset-sm2 v-if="!overviewData">
            <v-card>
              <v-container>
              <v-layout row wrap text-xs-center>
              <v-progress-circular :size="70" :width="6" style="margin: 0 auto;" indeterminate color="primary"></v-progress-circular>
              </v-layout>
              </v-container>
            </v-card>
          </v-flex>
          <v-flex xs12 sm8 offset-sm2 v-else>
            <v-card class="mt-2">
              <v-container>
            <v-layout row wrap>
              <v-flex xs12>
              <v-card-text class="title pl-0 pt-0"> Overview </v-card-text>
              </v-flex>
            <v-flex xs12 sm6 md4 class="pl-1">
          <div>
            <strong>Radicals: </strong><span class="grey--text">&nbsp;{{ overviewData.overviewInfo.radicalPassed }} / </span><span class="subheading">&nbsp;{{ overviewData.overviewInfo.radicalCount }}</span>
          </div>
            <v-progress-linear :value="radicalProgressCount" height="5" color="info"></v-progress-linear>
          </v-flex>
        <v-flex xs12 sm6 md4 class="pl-1">
        <div>
          <strong>Kanji: </strong><span class="grey--text">&nbsp;{{ overviewData.overviewInfo.kanjiPassed }} / </span><span class="subheading">&nbsp;{{ overviewData.overviewInfo.kanjiCount }}</span>
        </div>
          <v-progress-linear :value="kanjiProgressCount" height="5" color="pink" background-color="pink lighten-3"></v-progress-linear>
        </v-flex>
        <v-flex xs12 sm12 md4 class="pl-1">
        <div>
          <strong>Vocabulary: </strong><span class="grey--text">&nbsp;{{ overviewData.overviewInfo.vocabPassed }} / </span><span class="subheading">&nbsp;{{ overviewData.overviewInfo.vocabCount }}</span>
        </div>
          <v-progress-linear :value="vocabProgressCount" height="5" color="purple" background-color="purple lighten-3"></v-progress-linear>
        </v-flex>
            </v-layout>
            </v-container>
            <!-- <v-card-actions v-if="editmodeAvailableCheck"><v-spacer></v-spacer><v-btn small dark color="blue" absolute bottom right fab @click.native.stop="fetchBasicAPI"><v-icon>cached</v-icon></v-btn></v-card-actions> -->
            </v-card>
          </v-flex>
            <v-layout row wrap class="mb-3">
              <v-flex xs12 sm8 offset-sm2>
                <v-layout row wrap>
                  <v-flex xs12 sm6 class="pa-2">
                    <v-card>
                        <v-flex xs12>
                          <v-card-title> 
                            <span class="title"> Assignments </span>
                          <v-spacer></v-spacer>
                          <v-menu bottom max-height="300" min-width="120">
                            <v-btn slot="activator" icon>
                              <v-icon>more_vert</v-icon>
                            </v-btn>
                            <v-list>
                              <v-list-tile v-for="i in 60" :key="i">
                                <v-list-tile-title>{{ i }}</v-list-tile-title>
                              </v-list-tile>
                            </v-list>
                          </v-menu>
                          </v-card-title>
                        </v-flex>
                        <v-flex>

                        </v-flex>
                    </v-card>
                  </v-flex>
                  <v-flex xs12 sm6 class="pa-2">
                    <v-card>
                      <v-flex xs12>
                          <v-card-title> 
                            <span class="title"> Critical Items </span>
                          <v-spacer></v-spacer>
                          <v-menu bottom max-height="300" min-width="120">
                            <v-btn slot="activator" icon>
                              <v-icon>more_vert</v-icon>
                            </v-btn>
                            <v-list>
                              <v-list-tile v-for="i in 60" :key="i">
                                <v-list-tile-title>{{ i }}</v-list-tile-title>
                              </v-list-tile>
                            </v-list>
                          </v-menu>
                          </v-card-title>
                        </v-flex>
                        <v-flex>

                        </v-flex>
                    </v-card>
                  </v-flex>
                  <v-flex xs12>
                    <assignments></assignments>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
        </v-layout>
        </v-container>
        <v-container v-else-if="initUser">
        <v-card>
          <v-container>
          <v-layout row wrap text-xs-center>
            <v-progress-circular :size="70" :width="6" style="margin: 0 auto;" indeterminate color="primary"></v-progress-circular>
          </v-layout>
          </v-container>
        </v-card>
        </v-container>
        <v-container v-else-if="is404">
        <v-card>
          <v-container>
          <v-layout row wrap>
          <v-flex xs12 sm4 text-xs-center><img style="width: 95%; max-width: 256px;" src="http://www.shoutech.in/wp-content/uploads/2017/12/404-Error.png"/></v-flex>
          <v-flex xs12 sm8>
            <v-layout column>
              <v-card-text class="display-1">Looks Like you are lost</v-card-text>
              <v-card-actions><v-btn block color="primary" @click.native.stop="router('/overview/')">Return To Safety</v-btn></v-card-actions>
            </v-layout>
          </v-flex>
          </v-layout>
          </v-container>
        </v-card>
        </v-container>
    <progress-bar></progress-bar>
  </v-container>
</template>

<script>
import progressBar from './ProgressBar.vue'
import assignments from './Assignments.vue'
import { fs, functions, storage } from './Firebase.vue'
import { wkapi, axiosAll, axiosSpread } from './axios.js'
import md5 from 'blueimp-md5'
import moment from 'moment'

export default {
  data () {
    return {
      // Unstored Vars
      photoURL: '',
      bannerPhotoURL: '',
      level: '',
      classes: ['original', 'test'],
      avatarImageRef: '',
      avatarImageAlert: false,
      avatarImageError: false,
      selectedAvatarUploadFile: null,
      bannerImageRef: '',
      bannerImageAlert: false,
      bannerImageError: false,
      selectedBannerUploadFile: null,
      // Conditional Vars
      editmode: false,
      editmodeAvaliable: false,
      is404: false,
      // Notification Vars
      validapi: false,
      accountCreatorValidAPIT: false,
      updatedDataNoti: false,
      // Validation
      valid: true,
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 30) || 'Name must be less than 30 characters'
      ],
      bioRules: [
        v => (v.length <= 2000) || 'Bio must be less than 2000 characters'
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ],
      apiRules: [
        v => !!v || 'APIKey is required',
        v => (v.length !== 35) || 'An API Key should be 36 Characters'
      ]
    }
  },
  components: {
    progressBar, assignments
  },
  computed: {
    usernames () {
      return this.$store.getters.usernameArray
    },
    pageUserID () {
      return this.$store.getters.userPageUserID(this.$route.params.id)
    },
    pageUser () {
      return this.$store.getters.userPageUser(this.$route.params.id)
    },
    editCheck () {
      if (this.$route.params.id.length >= 25) {
        if (this.$route.params.id === this.pageUserID.uid || this.$route.params.id === this.pageUserID.ref) {
          return true
        }
        return false
      } else {
        return false
      }
    },
    editmodeAvailableCheck () {
      if (this.pageUser.username === null && this.pageUser.uid === this.$route.params.id) {
        return true
      }
      if (this.$route.params.id === this.pageUser.username) {
        if (this.$store.state.loggedUser.uid === this.pageUser.uid) {
          return true
        }
        return false
      } else {
        return false
      }
    },
    initUser () {
      if (this.usernames.find(user => user === this.$route.params.id)) {
        if (!Object.values(this.pageUser).find(user => user === this.$route.params.id)) {
          return true
        }
        return false
      } else {
        return false
      }
    },
    loggedUser () {
      return this.$store.state.loggedUser
    },
    overviewData () {
      return this.$store.getters.getPageUserOverview(this.$route.params.id)
    },
    classData () {
      return this.$store.state.classes
    },
    radicalProgressCount () {
      if (this.overviewData.overviewInfo != null) {
        if (this.overviewData.overviewInfo.radicalPassed !== 0) {
          return (this.overviewData.overviewInfo.radicalPassed / this.overviewData.overviewInfo.radicalCount) * 100
        } else {
          return 0
        }
      }
    },
    kanjiProgressCount () {
      if (this.overviewData.overviewInfo != null) {
        if (this.overviewData.overviewInfo.kanjiPassed != null) {
          return (this.overviewData.overviewInfo.kanjiPassed / this.overviewData.overviewInfo.kanjiCount) * 100
        } else {
          return 0
        }
      }
    },
    vocabProgressCount () {
      if (this.overviewData.overviewInfo != null) {
        if (this.overviewData.overviewInfo.vocabPassed !== 0) {
          return (this.overviewData.overviewInfo.vocabPassed / this.overviewData.overviewInfo.vocabCount) * 100
        } else {
          return 0
        }
      }
    },
    userCardMargin () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return '-2em 2em'
        case 'sm': return '-6em 0'
        case 'md': return '-6em 0'
        case 'lg': return '-6em 0'
        case 'xl': return '-8em 0'
      }
    },
    generateGravatarIcon () {
      if (this.pageUserID.email) {
        const email = this.pageUserID.email
        const LowerCaseEmail = email.toString().toLowerCase()
        const md5String = md5(LowerCaseEmail)
        return 'https://www.gravatar.com/avatar/' + md5String
      }
    }
    /* avatarImageRef () {
      storage.ref().child('Cardinal-512.png').getDownloadURL().then(url => {
        return url
      })
    } */
  },
  watch: {
    initUser: function () {
      if (this.initUser === true) {
        this.$store.dispatch('fetchPageUser', this.$route.params.id)
      }
    },
    pageUserID: function () {
      this.bannerPhotoURL = this.pageUserID.bannerPhoto
      this.photoURL = this.pageUserID.photo
      if (this.pageUserID.apiKey) { this.validapi = true }
      if (this.pageUserID.classes) {
        let classroomData = Object.values(this.classData)
        let usersClassRecord
        for (let classroom of classroomData) { usersClassRecord = Object.values(classroom).find(user => user.ref === this.pageUserID.uid) }
        if (!usersClassRecord) {
          this.$store.dispatch('getClassData', this.pageUserID.classes[0])
        }
      }
      if (this.pageUserID.uid) {
        storage.ref().child(this.pageUserID.uid + '/avatar.png').getDownloadURL().then(url => {
          this.avatarImageRef = url
          // console.log(url)
        }).catch(error => {
          console.log(error.code)
        })
        storage.ref().child(this.pageUserID.uid + '/banner.png').getDownloadURL().then(url => {
          this.bannerImageRef = url
          // console.log(url)
        }).catch(error => {
          if (error.code === 'storage/object-not-found') {
            this.bannerImageRef = 'https://vuetifyjs.com/static/doc-images/parallax/material2.jpg'
          } else {
            console.log(error.code)
          }
        })
      }
    },
    pageUser: function () {
      // Only run if class exists
      if (this.pageUser.classes) {
        // If the class that the user belongs to is not initiated get it
        let classroomData = Object.values(this.classData)
        let usersClassRecord
        for (let classroom of classroomData) { usersClassRecord = Object.values(classroom).find(user => user.ref === this.pageUser.uid) }
        if (!usersClassRecord) {
          this.$store.dispatch('getClassData', this.pageUser.classes[0])
        }
      }
    }
  },
  methods: {
    updateSummaryTest () {
      const userSummaryUpdater = functions.httpsCallable('userSummaryUpdater')
      userSummaryUpdater('Hello').then()
    },
    router (route, refresh) {
      this.$router.push(route)
      if (refresh) { window.location.reload(true) }
    },
    testAPI () {
      const instance = wkapi(this.pageUserID.apiKey)
      instance.get('/user').then(response => { this.validapi = true }).catch(function (error) {
        if (error.response) {
          console.log(error.response.data)
          console.log(error.response.status)
          console.log(error.response.headers)
        } else if (error.request) {
          console.log(error.request)
        } else {
          console.log('Error', error.message)
        }
        console.log(error.config)
      })
    },
    uploadAvatarImage () {
      this.updateProgressBar({active: true, Value: 20, updatingText: 'Uploading File', progressText: 'Sending the data'})
      let file = this.selectedAvatarUploadFile
      let valid = false
      if (file.size <= 400000) {
        if (file.type === 'image/jpeg') {
          valid = true
        } else if (file.type === 'image/png') {
          valid = true
        } else {
          valid = false
        }
      } else {
        valid = false
      }
      if (!valid) {
        this.selectedAvatarUploadFile = null
        this.avatarImageError = true
        this.updateProgressBar({active: false, Value: 80, updatingText: 'Uploading File', progressText: 'Something went wrong!'})
      } else {
        let destRef = storage.ref().child(this.pageUserID.uid + '/avatar.png')
        destRef.put(file).then(snapshot => {
          // console.log(snapshot.downloadURL)
          this.avatarImageRef = snapshot.downloadURL
          this.selectedAvatarUploadFile = null
          this.updateProgressBar({active: true, Value: 80, updatingText: 'Uploading File', progressText: 'Upload Completed! Syncing with server'})
          this.avatarImageAlert = true

          fs.collection('profiles').doc(this.pageUserID.refDoc).update({'photo': this.avatarImageRef}).then(() => {
            this.updateProgressBar({active: false, Value: 100, updatingText: 'Updating Overview Data', progressText: 'Completed!'})
            this.pageUserID.photo = this.avatarImageRef
          })
        })
      }
    },
    deleteAvatarImage () {
      let httpsReference = storage.refFromURL(this.avatarImageRef)
      httpsReference.delete().then(() => {
        this.avatarImageRef = null
        console.log('Deleted Avatar')
      })
    },
    uploadBannerImage () {
      this.updateProgressBar({active: true, Value: 20, updatingText: 'Uploading File', progressText: 'Sending the data'})
      let file = this.selectedBannerUploadFile
      let valid = false
      if (file.size <= 700000) {
        if (file.type === 'image/jpeg') {
          valid = true
        } else if (file.type === 'image/png') {
          valid = true
        } else {
          valid = false
        }
      } else {
        valid = false
      }
      if (!valid) {
        this.selectedBannerUploadFile = null
        this.bannerImageError = true
        this.updateProgressBar({active: false, Value: 80, updatingText: 'Uploading File', progressText: 'Something went wrong!'})
      } else {
        let destRef = storage.ref().child(this.pageUserID.uid + '/banner.png')
        destRef.put(file).then(snapshot => {
          this.bannerImageRef = snapshot.downloadURL
          this.selectedBannerUploadFile = null
          this.updateProgressBar({active: true, Value: 80, updatingText: 'Uploading File', progressText: 'Upload Completed! Syncing with server'})
          this.bannerImageAlert = true
          // Sync with server to not break links
          fs.collection('profiles').doc(this.pageUserID.refDoc).update({'bannerPhoto': this.bannerImageRef}).then(() => {
            this.updateProgressBar({active: false, Value: 100, updatingText: 'Updating Overview Data', progressText: 'Completed'})
            this.pageUserID.bannerPhoto = this.bannerImageRef
          })
        })
      }
    },
    deleteBannerImage () {
      let httpsReference = storage.refFromURL(this.bannerImageRef)
      httpsReference.delete().then(() => {
        this.bannerImageRef = null
        console.log('Deleted Banner Image')
      })
    },
    updateUserData () {
      if (this.$refs.form.validate()) {
        // Verify no null references
        let bio
        let classes

        if (!this.pageUserID.bio) { bio = 'Hey my name is ' + this.pageUserID.username } else { bio = this.pageUserID.bio }
        if (!this.bannerImageRef) { this.bannerImageRef = 'http://www.webdesigndev.com/wp-content/uploads/2017/05/006817-Brand-New-Set-Of-40-Material-Design-Backgrounds-.jpg' }
        if (!this.avatarImageRef) { this.avatarImageRef = this.generateGravatarIcon }
        if (!this.pageUserID.classes) { classes = 'original' } else { classes = this.pageUserID.classes }

        if (this.pageUserID.apiKey) {}
        this.updateProgressBar({active: true, Value: 20, updatingText: 'Updating User Profile', progressText: 'Syncing with Database'})
        fs.collection('profiles').doc(this.pageUserID.refDoc).update({'apiKey': this.pageUserID.apiKey, 'username': this.pageUserID.username, 'email': this.pageUserID.email, 'photo': this.avatarImageRef, 'public': this.pageUserID.isPublic, 'bannerPhoto': this.bannerImageRef, 'bio': bio, 'classes': classes}).then(() => {
          this.updatedDataNoti = true
          this.updateProgressBar({active: false, Value: 100, updatingText: 'Updating Overview Data', progressText: 'Completed'})
          // Update the stuff located in the cache too!
          this.pageUserID.bannerPhoto = this.bannerImageRef
          this.pageUserID.photo = this.avatarImageRef
        })
        this.fetchBasicAPI()
      } else {
        console.log(this.valid)
      }
    },
    initUserStore () {
      this.$store.dispatch('fetchPageUser', this.$route.params.id)
    },
    refreshUserSettings () {
      this.$store.dispatch('fetchLoggedUser').then(() => {
      })
    },
    progressCalc (passed, max) {
      if (passed !== 0) {
        return (passed / max * 100)
      } else {
        return 0
      }
    },
    fetchBasicAPI () {
      //  Open the bottom-sheet for progress
      this.updateProgressBar({active: true, Value: 20, updatingText: 'Updating Overview Data', progressText: 'Calling API'})
      const instance = wkapi(this.pageUserID.apiKey)
      const classes = this.pageUserID.classes
      let basicInfoArray = []
      let level
      instance.get('/user').then(response => {
        this.updateProgressBar({Value: 40, progressText: 'Getting Assignments'})
        basicInfoArray.push(moment().toISOString())
        basicInfoArray.push(response.data.data.level)
        level = response.data.data.level
        let assignments
        let getAssignment = () => {
          return instance.get('/assignments?levels=' + level).then(response => { assignments = response.data.data; this.updateProgressBar({Value: 70, progressText: 'Dealing with assignment data'}) })
        }
        axiosAll([getAssignment()]).then(axiosSpread(() => {
          const overviewProgressInfo = this.overviewProgressNumbers(assignments, level)
          basicInfoArray.push(overviewProgressInfo)
          console.log(basicInfoArray)
          this.setBasicAPI(basicInfoArray, this.pageUserID.username, this.pageUserID.refDoc, classes)
          const OverviewDeleteOF = functions.httpsCallable('OverviewDeleteOF')
          OverviewDeleteOF({docRef: this.pageUserID.refDoc}).then()
        }))
      })
    },
    setBasicAPI (data, username, documentRef, classes) {
      this.updateProgressBar({active: false, Value: 100, updatingText: 'Updating Overview Data', progressText: 'Completed'})
      const formatedObject = { timestamp: data[0], level: data[1], overviewInfo: data[2] }
      fs.collection('profiles').doc(documentRef).collection('basic').doc().set(formatedObject).then(() => {
        let classUpdateData = {}
        let classroomObject = { ...formatedObject, username: this.pageUserID.username, photo: this.pageUserID.photo, ref: this.pageUserID.uid }
        classUpdateData[this.pageUserID.uid] = classroomObject
        console.log(classes)
        for (let classroom of classes) {
          fs.collection('classrooms').doc(classroom).update(classUpdateData).catch((error) => {
            console.log(error)
            fs.collection('classrooms').doc(classroom).set(classUpdateData)
          })
        }
      })
    },
    overviewProgressNumbers (assignments, level) {
      let kanjiPassCount = 0
      let radicalPassCount = 0
      let vocabPassCount = 0
      for (let assignment of assignments) {
        if (assignment.data.subject_type === 'kanji' && assignment.data.passed === true) {
          kanjiPassCount += 1
        }
        if (assignment.data.subject_type === 'radical' && assignment.data.passed === true) {
          radicalPassCount += 1
        }
        if (assignment.data.subject_type === 'vocabulary' && assignment.data.passed === true) {
          vocabPassCount += 1
        }
      }
      const levelNumbers = this.getLevelNumbers(level)
      const progressNumbers = { radicalPassed: radicalPassCount, kanjiPassed: kanjiPassCount, vocabPassed: vocabPassCount, radicalCount: levelNumbers.radical, kanjiCount: levelNumbers.kanji, vocabCount: levelNumbers.vocab }
      return progressNumbers
    },
    getLevelNumbers (level) {
      const itemCount = [ [0, 0, 0], // Level 0
        [26, 18, 42], [34, 38, 89], [22, 33, 72], [33, 38, 105], [27, 42, 126], // Levels 1-5
        [20, 40, 118], [17, 33, 101], [15, 32, 136], [16, 35, 119], [15, 35, 117], // Levels 6-10
        [14, 38, 127], [11, 37, 129], [16, 37, 115], [6, 32, 116], [7, 33, 100], // Levels 11-15
        [6, 35, 118], [7, 33, 124], [8, 29, 135], [9, 34, 106], [6, 32, 114], // Levels 16-20
        [7, 32, 108], [6, 31, 116], [7, 31, 99], [7, 31, 121], [8, 33, 101], // Levels 21-25
        [3, 33, 125], [8, 32, 107], [5, 34, 118], [8, 33, 108], [6, 31, 103], // Levels 26-30
        [7, 36, 113], [7, 33, 112], [5, 32, 103], [5, 34, 125], [4, 32, 101], // Levels 31-35
        [7, 33, 98], [4, 32, 113], [6, 32, 101], [8, 34, 101], [3, 32, 116], // Levels 36-40
        [4, 30, 109], [5, 33, 98], [5, 35, 110], [5, 34, 106], [3, 35, 98], // Levels 41-45
        [2, 37, 104], [3, 36, 94], [3, 37, 105], [2, 33, 104], [3, 35, 88], // Levels 46-50
        [1, 35, 77], [0, 35, 98], [2, 35, 104], [0, 35, 115], [0, 35, 76], // Levels 51-55
        [0, 35, 88], [2, 35, 93], [0, 35, 81], [1, 35, 79], [1, 32, 65] // Levels 56-60
      ]
      return {radical: itemCount[level][0], kanji: itemCount[level][1], vocab: itemCount[level][2]}
    },
    setSummary (data, documentRef) {
      const formatedObject = { summary: data }
      fs.collection('profiles').doc(documentRef).update(formatedObject).then(() => {
        // Refresh Page User on users end
        this.pageUser.summary = data
        this.updateProgressBar({active: false, Value: 0, updatingText: 'Completed', progressText: 'Done'})
      })
    },
    updateSummary () {
      const instance = wkapi(this.pageUser.apiKey)
      this.updateProgressBar({active: true, Value: 20, updatingText: 'Updating Summary', progressText: 'Calling API'})
      instance.get('/summary').then(response => {
        let reviewCountNow = 0
        let reviewCountLater = 0
        let lessonCount = 0
        response.data.data.reviews.forEach(reviewHour => {
          if (reviewHour === response.data.data.reviews[0]) {
            reviewCountNow = reviewHour.subject_ids.length
          } else {
            reviewCountLater += reviewHour.subject_ids.length
          }
        })
        lessonCount = response.data.data.lessons[0].subject_ids.length
        let summaryObject = {
          reviewsNow: reviewCountNow,
          reviewsLater: reviewCountLater,
          lessons: lessonCount
        }
        this.updateProgressBar({Value: 90, progressText: 'Setting Local Variables'})
        this.setSummary(summaryObject, this.pageUser.refDoc)
      }).catch(error => {
        console.log(error)
      })
    },
    updateProgressBar (data) {
      this.$store.dispatch('updateProgressBar', data)
    }
  },
  mounted () {
    setTimeout(() => {
      this.is404 = true
    }, 4000)
    // Check every time the user swaps to this page  TODO Can be optimized
    if (this.initUser === true) {
      this.$store.dispatch('fetchPageUser', this.$route.params.id)
    }
    // If User is redirected here from the welcome
    if (this.pageUser.classes) {
      // If the class that the user belongs to is not initiated get it
      let classroomData = Object.values(this.classData)
      let usersClassRecord
      for (let classroom of classroomData) { usersClassRecord = Object.values(classroom).find(user => user.ref === this.pageUser.uid) }
      if (!usersClassRecord) {
        this.$store.dispatch('getClassData', this.pageUser.classes[0])
      }
    }
    // this.updateSummaryTest()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.US-Header {
  font-size: 16px;
}

.circle {
  border-radius: 100%;
  background: rgba(255,255,255, 0.2);
}
</style>
