<template>
  <v-card class="text-xs-center">
    {{ items }}
    <v-btn @click="informationGetter">Get Info</v-btn>
  </v-card>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      items: {}
    }
  },
  computed: {
    progressBar () {
      // Getter for selected levels Assignments TODO
      // return this.$store.getter.assignmentsByLevel
    }
  },
  methods: {
    informationGetter () {
      // Lets get this information
      // We need the following
      // object type
      // ID
      // Level
      // slug (Sometimes the slug is unicode, check for that (if start with %) ) Same goes for vocabulary
      // character images (SVG) if non exist (256png)
      // Meanings [array]
      // (If Kanji) Readings
      // Sort each type into its own Object
      // Sort each Object into its own level

      const wkapi = axios.create({
        baseURL: 'https://api.wanikani.com/v2/',
        method: 'get',
        timeout: 60000,
        headers: {'Authorization': 'Bearer 8ab1e805-f038-47bc-b995-938166e66498'}
      })

      // let subjectPages = []
      let userSubjectData = {
        radicals: {
          1: [],
          2: [],
          3: [],
          4: [],
          5: [],
          6: [],
          7: [],
          8: [],
          9: [],
          10: [],
          11: [],
          12: [],
          13: [],
          14: [],
          15: [],
          16: [],
          17: [],
          18: [],
          19: [],
          20: [],
          21: [],
          22: [],
          23: [],
          24: [],
          25: [],
          26: [],
          27: [],
          28: [],
          29: [],
          30: [],
          31: [],
          32: [],
          33: [],
          34: [],
          35: [],
          36: [],
          37: [],
          38: [],
          39: [],
          40: [],
          41: [],
          42: [],
          43: [],
          44: [],
          45: [],
          46: [],
          47: [],
          48: [],
          49: [],
          50: [],
          51: [],
          52: [],
          53: [],
          54: [],
          55: [],
          56: [],
          57: [],
          58: [],
          59: [],
          60: []
        },
        kanji: {
          1: [],
          2: [],
          3: [],
          4: [],
          5: [],
          6: [],
          7: [],
          8: [],
          9: [],
          10: [],
          11: [],
          12: [],
          13: [],
          14: [],
          15: [],
          16: [],
          17: [],
          18: [],
          19: [],
          20: [],
          21: [],
          22: [],
          23: [],
          24: [],
          25: [],
          26: [],
          27: [],
          28: [],
          29: [],
          30: [],
          31: [],
          32: [],
          33: [],
          34: [],
          35: [],
          36: [],
          37: [],
          38: [],
          39: [],
          40: [],
          41: [],
          42: [],
          43: [],
          44: [],
          45: [],
          46: [],
          47: [],
          48: [],
          49: [],
          50: [],
          51: [],
          52: [],
          53: [],
          54: [],
          55: [],
          56: [],
          57: [],
          58: [],
          59: [],
          60: []
        },
        vocabulary: {
          1: [],
          2: [],
          3: [],
          4: [],
          5: [],
          6: [],
          7: [],
          8: [],
          9: [],
          10: [],
          11: [],
          12: [],
          13: [],
          14: [],
          15: [],
          16: [],
          17: [],
          18: [],
          19: [],
          20: [],
          21: [],
          22: [],
          23: [],
          24: [],
          25: [],
          26: [],
          27: [],
          28: [],
          29: [],
          30: [],
          31: [],
          32: [],
          33: [],
          34: [],
          35: [],
          36: [],
          37: [],
          38: [],
          39: [],
          40: [],
          41: [],
          42: [],
          43: [],
          44: [],
          45: [],
          46: [],
          47: [],
          48: [],
          49: [],
          50: [],
          51: [],
          52: [],
          53: [],
          54: [],
          55: [],
          56: [],
          57: [],
          58: [],
          59: [],
          60: []
        }
      }
      let count

      // Initialize the pain train
      wkapi.get('subjects').then(response => {
        addData(response.data.data)
        if (response.data.pages.next_url) {
          let nextUrl = response.data.pages.next_url.replace('https://api.wanikani.com/v2/', '')
          getSubjectsLoop(nextUrl)
        }
      })

      const getSubjectsLoop = (nextUrl) => {
        count += 1
        wkapi.get(nextUrl).then(response => {
          addData(response.data.data)
          if (response.data.pages.next_url) {
            let succUrl = response.data.pages.next_url.replace('https://api.wanikani.com/v2/', '')
            console.log('Another Subjects Page was Gathered Count ' + count)
            getSubjectsLoop(succUrl)
          } else {
            console.log('No more subject pages')
          }
        })
      }
      const addData = (page) => {
        // Now Sort though the data
        // for (let page in subjectPages) {
        for (let subject of page) {
          console.log(subject)
          // Find character image
          let reducedObject = {}
          let characterImage
          if (subject.data.character_images) {
            characterImage = subject.data.character_images.find(image => image.content_type === 'image/svg+xml' && image.metadata.inline_styles === true)
            if (!characterImage) { characterImage = subject.data.character_images.find(image => image.content_type === 'image/png' && image.metadata.dimensions === '256x256') }
          } else {
            characterImage = 'Got nothing here'
          }
          // Condence the object
          if (subject.object === 'radical') {
            reducedObject.id = subject.id
            reducedObject.object = subject.object
            reducedObject.level = subject.data.level
            reducedObject.slug = subject.data.slug
            reducedObject.image = characterImage.url
            reducedObject.meanings = subject.data.meanings

            userSubjectData.radicals[subject.data.level].push(reducedObject)
          } else if (subject.object === 'kanji') {
            let reducedObject = {
              id: subject.id,
              object: subject.object,
              level: subject.data.level,
              slug: subject.data.slug,
              image: characterImage.url,
              meanings: subject.data.meanings,
              readings: subject.data.readings
            }
            if (!userSubjectData.kanji[subject.data.level]) { userSubjectData.kanji[subject.data.level] = [] }
            userSubjectData.kanji[subject.data.level].push(reducedObject)
          } else if (subject.object === 'vocabulary') {
            let reducedObject = {
              id: subject.id,
              object: subject.object,
              level: subject.data.level,
              slug: subject.data.slug,
              image: characterImage.url,
              meanings: subject.meanings,
              readings: subject.readings,
              parts_of_speech: subject.parts_of_speech
            }
            if (!userSubjectData.vocabulary[subject.data.level]) { userSubjectData.vocabulary[subject.data.level] = [] }
            userSubjectData.vocabulary[subject.data.level].push(reducedObject)
          }
        }
        // }
        // console.log(userSubjectData.length)
        console.log(userSubjectData)
        this.items = userSubjectData
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
