<template>
  <v-container>
    <v-slide-y-transition mode="out-in">
      <v-layout column>
      <v-flex text-xs-center>
        <img src="@/assets/logo.png" alt="Wanikani" width="128px" class="mb-5">
      </v-flex>
      <v-stepper v-model="stepper">
        <v-stepper-header>
          <v-stepper-step :complete="stepper > 1" step="1">Welcome</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step :complete="stepper > 2" step="2">Create / Login Account</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="3">Lets Go!</v-stepper-step>
        </v-stepper-header>
      <v-stepper-items>
      <v-stepper-content step="1">
        <v-card>
          <v-layout text-xs-center column>
            <v-card-text class="display-1"> Welcome to WaniKani Class </v-card-text>
            <v-card-text>Thank you so much for checking out the site! <br> This site was built from the ground up to be an extention to the experience of your wanikani kanji learning adventure. <br> Although the site right now only has the features to view simple progress of fellow classmates, there are many things planned for the future which will hopefully make this site the one stop shop for all your wanikani needs <br> For now its time to be patient, test the site and give feedback wherever you can <br> Alright now with all that out of the way how about we start with making your account! </v-card-text>
            <v-btn color="primary" @click.native="stepper = 2">Lets Get Started</v-btn>
          </v-layout>
        </v-card>
      </v-stepper-content>
      <v-stepper-content step="2">
        <v-card flat>
        <v-card-text></v-card-text>
          <v-form>
            <v-text-field
              label="E-mail"
              prepend-icon="email"
              name="email"
              id="email"
              v-model="email"
              v-on:input="emailInUse = false; unknownUser = false; badEmail = false"
              :rules="emailRules"
              required></v-text-field>
              <v-text-field prepend-icon="lock" name="password" label="Password" id="password" type="password"
              v-model="password"
              v-on:input="weakPassword = false; wrongPassword = false"
              :rules="passwordRules"
              required></v-text-field>
              <v-alert type="error" :value="true" v-if="emailInUse"> This Email is already in use, Are you sure you don't have an account already? </v-alert>
              <v-alert type="error" :value="true" v-if="weakPassword"> This Password is too weak, Please use a more complex one </v-alert>
              <v-alert type="error" :value="true" v-if="unknownUser"> A User with this email does not exist, Please Check it </v-alert>
              <v-alert type="error" :value="true" v-if="wrongPassword"> The Password associated with this email address did not match our records, or you do not have an password, please login using google instead </v-alert>
              <v-alert type="error" :value="true" v-if="badEmail"> The Email your provided is formatted incorrectly </v-alert>
          </v-form>
        <v-layout column>
          <v-flex xs12>
            <v-btn color="primary" @click.native="createAccount">Create</v-btn>
            <v-btn color="secondary" @click.native="login">Login</v-btn>
          </v-flex>
          <v-flex xs12 text-xs-center>
            <v-card-text> - Or - </v-card-text>
          </v-flex>
          <v-flex xs12 text-xs-center>
            <v-btn @click.native="loginUsingGoogle">Login Using Google  <v-icon>exit_to_app</v-icon></v-btn>
          </v-flex>
          <v-flex xs12>
            <v-btn flat @click.native="stepper = 1">Back</v-btn>
            <v-btn v-if="completed === false" color="primary" disabled>Continue</v-btn>
            <v-btn v-else color="primary" @click.native="stepper = 3">Continue</v-btn>
          </v-flex>
        </v-layout>
        </v-card>
      </v-stepper-content>
      <v-stepper-content step="3">
        <v-card text-xs-center>
        <v-card-text class="title">All done!</v-card-text>
        <v-card-text class="pt-0">You are successfully logged in now, from here you should go check out your user account settings and update them how you would like, Be sure to add your API key!</v-card-text>
        <v-btn block v-if="initiated || loggedUser.loggedIn" color="primary" @click.native="router('/user/' + uid, true)">Have a Look</v-btn>
        <v-btn block v-else disabled color="primary">Initializing</v-btn>
        <!-- <v-btn flat @click.native="router('/help')">Help</v-btn> -->
        </v-card>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
  </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import app from '../App.vue'
import { auth, fs, loginUsingGoogleRedirect } from './Firebase.vue'
export default {
  data () {
    return {
      stepper: 0,

      email: '',
      password: '',
      initiated: false,

      uid: '',

      emailInUse: false,
      weakPassword: false,
      completed: false,
      unknownUser: false,
      wrongPassword: false,
      badEmail: false,

      passwordRules: [
        v => !!v || 'Password is required',
        v => (v && v.length >= 8) || 'Name must be more than 8 characters'
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ]
    }
  },
  computed: {
    loggedUser () {
      return this.$store.state.loggedUser
    }
  },
  methods: {
    openDash () {
      app.data.drawer = true
    },
    router (route, refresh) {
      this.$router.push(route)
      if (refresh) { window.location.reload(true) }
    },
    createAccount () {
      auth.createUserWithEmailAndPassword(this.email, this.password).catch(error => {
        // Handle Errors here.
        var errorCode = error.code
        const errorMessage = error.message
        console.log(errorMessage)
        if (errorCode === 'auth/email-already-in-use') {
          this.emailInUse = true
        }
        if (errorCode === 'auth/weak-password') {
          this.weakPassword = true
        }
      })
    },
    login () {
      auth.signInWithEmailAndPassword(this.email, this.password).catch(error => {
        // Handle Errors here.
        const errorCode = error.code
        const errorMessage = error.message
        console.log(errorMessage)
        if (errorCode === 'auth/user-not-found') {
          this.unknownUser = true
        }
        if (errorCode === 'auth/wrong-password') {
          this.wrongPassword = true
        }
        if (errorCode === 'auth/invalid-email') {
          this.badEmail = true
        }
      })
    },
    loginUsingGoogle () {
      // loginUsingGoogle()
      loginUsingGoogleRedirect()
    },
    initDatabase (username, email, googlePhoto) {
      return new Promise((resolve, reject) => {
        fs.collection('profiles').where('ref', '==', this.uid).get().then(snapshot => {
          if (snapshot.empty) {
            const dataToSet = {apiKey: '', username: username, email: email, photo: googlePhoto, bannerPhoto: googlePhoto, ref: this.uid, public: false, classes: ['original']}
            fs.collection('profiles').doc().set(dataToSet)
            this.initiated = true
          } else {
            snapshot.forEach(user => {
              this.initiated = true
              this.router('/user/' + user.data().username)
            })
          }
        })
      })
    }
  },
  created () {
    auth.onAuthStateChanged((user) => {
      if (user) {
        // User is signed in.
        this.completed = true
        this.stepper = 3
        this.uid = user.uid
        const username = user.displayName
        const googlePhoto = user.photoURL
        const email = user.email
        this.initDatabase(username, email, googlePhoto)
      } else {
        this.completed = false
        this.stepper = 1
      }
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
