<template>
  <v-app>
    <v-navigation-drawer
      fixed
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      app
    >
      <v-list class="pt-0">
        <v-card>
          <v-card-media v-if="loggedUser.loggedIn" :src="loggedUser.bannerPhoto" height="150px" class="card-blur">
            <v-layout column :style="{ margin: 0, height: '100%' }">
            <v-avatar class="mt-2 ml-2" size="72px"><img :src="loggedUser.photo" :alt="loggedUser.currentUser"/></v-avatar>
            <v-card-title style="font-size: 18px" class="white--text mt-3 pt-0 pb-1">{{ loggedUser.username }}</v-card-title>
            <v-card-text class="white--text pt-0 pb-0">{{ loggedUser.currentUser }}</v-card-text>
            </v-layout>
          </v-card-media>
          <v-card-media v-else :style="{backgroundColor: '#aa00ff'}" height="150px">
            <v-layout row wrap :style="{ margin: 0, height: '100%' }">
            <v-flex xs12><v-avatar class="pt-3 pl-1" size="72px"><img :src="loggedUser.photo" :alt="loggedUser.currentUser"/></v-avatar></v-flex>
            <v-flex xs9><v-card-title style="font-size: 18px" class="white--text mt-3 pt-0 pb-1">Login</v-card-title>
            <v-card-text class="white--text pt-0 pb-0">Or make an account!</v-card-text></v-flex>
            <v-spacer></v-spacer>
            <v-btn class="mt-4" dark icon @click.native.stop="router('/')"><v-icon dark>input</v-icon></v-btn>
            </v-layout>
          </v-card-media>
        </v-card>
        <template v-for="(item, i) in items">
        <v-list-tile ripple v-if="!item.loginOnly" :to="item.page" @click.stop="drawer = !drawer" :key="item.title">
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-else-if="item.loginOnly && loggedUser.loggedIn && item.useraccount" ripple :to="'/user/' + loggedUser.username" @click.stop="drawer = !drawer" :key="item.title">
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile v-else-if="item.loginOnly && loggedUser.loggedIn && item.logout" ripple @click.stop="drawer = !drawer; logout()" :key="item.title">
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <div v-else disabled :key="item.title">
        </div>
        <v-divider v-if="item.divider" :key="item.title + i"></v-divider>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar fixed app :clipped-left="clipped">
      <v-toolbar-side-icon @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
      <!-- <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
      </v-btn> -->
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <!-- <p class="text-align-center" v-if="loggedIn">{{ currentUser }}</p>
      <v-btn v-else color="primary" @click.native.stop="router('/login')" >Log In</v-btn>
      <v-btn
        icon
        @click.native.stop="rightDrawer = !rightDrawer"
      >
        <v-icon>account_box</v-icon>
      </v-btn>-->
    </v-toolbar>
    <v-content>
    <transition name="fade">
        <router-view></router-view>
    </transition>
    </v-content>
    <!-- <v-navigation-drawer
      fixed
      temporary
      :right="right"
      v-model="rightDrawer"
      app
    >
      <v-list>
        <v-list-tile v-if="!loggedIn" @click.native.stop="rightDrawer = !rightDrawer; router('/register')">
          <v-list-tile-action>
            <v-icon light>account_box</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Create an Account</v-list-tile-title>
        </v-list-tile>
        <v-list-tile v-if="loggedIn" @click.native.stop="rightDrawer = !rightDrawer; router('/user/' + username, true)">
          <v-list-tile-action>
            <v-icon light>account_box</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Personal Page</v-list-tile-title>
        </v-list-tile>
        <v-list-tile v-if="loggedIn" @click.native.stop="rightDrawer = !rightDrawer; router('/user/' + uid, true)">
          <v-list-tile-action>
            <v-icon light>account_box</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>User Settings</v-list-tile-title>
        </v-list-tile>
        <v-list-tile v-if="loggedIn" @click.native.stop="rightDrawer = !rightDrawer; router('/overview', true); logout()">
          <v-list-tile-action>
            <v-icon light>account_box</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Logout</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer> -->
    <v-footer :fixed="fixed" app>
      <span>&copy; 2018. Made with love by yoroshi-kun</span>
    </v-footer>
  </v-app>
</template>

<script>
import { auth } from './components/Firebase.vue'

export default {
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
      /*  {
          icon: 'explore',
          title: 'Welcome',
          page: '/',
          divider: false
        }, */
        {
          icon: 'view_day',
          title: 'Overview',
          page: '/overview',
          divider: true
        },
        {
          icon: 'account_circle',
          title: 'User Page',
          useraccount: true,
          loginOnly: true,
          divider: false
        },
        {
          icon: 'exit_to_app',
          title: 'Logout',
          page: '/',
          loginOnly: true,
          logout: true,
          divider: true
        },
        {
          icon: 'help',
          title: 'Help',
          page: '/help'
        },
        {
          icon: 'favorite',
          title: 'Support Me',
          page: '/support'
        },
        {
          icon: 'feedback',
          title: 'Feedback / Updates',
          page: '/feedback'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,

      // Added
      loggedIn: false,
      currentUser: '',
      uid: '',
      photo: '',
      bannerPhoto: '',
      username: '',

      //
      loading: true
    }
  },
  computed: {
    loggedUser () {
      return this.$store.state.loggedUser
    },
    title () {
      return this.$route.name
    }
  },
  methods: {
    router (route, refresh) {
      this.$router.push(route)
      if (refresh) { window.location.reload(true) }
    },
    firstName (s) {
      var split = s.split(' ')
      return split[0]
    },
    logout () {
      auth.signOut().then(() => {
        // Sign-out successful.
        this.router('/', true)
      }).catch(function (error) {
        // An error happened.
        console.log('Opps something went wrong', error)
      })
    }
  },
  created: function () {
    // Call action if userData doesnt exist
    this.loading = true
    this.$store.dispatch('fetchUsers')
    this.$store.dispatch('fetchLoggedUser').then(() => {
      this.loading = false
      console.log(this.loggedUser)
      // this.$store.dispatch('fetchOverviewUsers', )
    })
  },
  name: 'App'
}
</script>

<style>
.card-blur > .card__media__background {
  filter: blur(2px);
  transform: scale(1.1);
}

/* Transition animation */
.fade-enter-active, .fade-leave-active {
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
  transition-duration: .3s;
}

.fade-enter-active {
  transition-delay: .3s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
  transform: translateY(60px)

}
</style>